
<div id="clothing-container" class="clothing">
    <div class="item-details">
        <div class="item-name">Item: {{first.id}}</div>
        <div class="description">Why this was chosen:
            <div id="descr-content">
                {{first.description}}
            </div>
        </div>
    </div>
    <div class="item-selection">
        {{#each chosenClothing}}
            {{>smallButtons}}
        {{/each}}
    </div>
</div>
