<div id="eq-modal" class="modal" style="display: none;">
    <div class="modal-content">
      <h2>Fun Fact! The Closest Earthquake is...</h2>
      <p><strong>In:</strong> <span id="eq-title"></span></p>
      <p><strong>Has Magnitude:</strong> <span id="eq-magnitude"></span></p>
      <p><strong>When?:</strong> <span id="eq-time"></span></p>
      <p><strong>For More Info:</strong> <a id="eq-link" href="#" target="_blank">Click Here</a></p>
      <p><strong>Is There a Tsunami:</strong> <span id="eq-tsunami"></span></p>
      <button id="close-eq-done">Done</button>
    </div>
  </div>