<div id="loginModal" class="login-signup-modal modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Attire Suggestion Login</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <button id="signUp-button">Sign Up</button>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="modal-footer">
            <button id="cancelLogin">Cancel</button>
            <button id="login-submit">Login</button>
        </div>
    </div>
</div>
