<section class="right-side-container">
    {{!-- {{#if displayUV}}
    
    {{/if}} --}}
    {{!-- <div class="tabs" id="tabs-container">
        {{tabs}}
    </div> --}}

    {{!--  This needs to be moved  --}}
    <div id="uv-index-container" class="uv-container">
    <span class="uv-label">UV Index:</span>
    <span id="uv-value" class="uv-value">2</span>


    </div>
        <div class="main-content-right">
            <div class="image-display-container">

                {{!-- chosenClothing --}}
                <img src="/clothingitems/baby-knitwear.svg" alt="Top Suggestion" id="top-suggestion" >
                <img src="/clothingitems/jeans-boy.svg" alt="Bottom Suggestion" id="bottom-suggestion">
                <img src="" alt="Accessory Suggestion" id="accessory-suggestion">
                
            </div>
        </div>
        <div class="stay-dry-container">

            <img src="/rainItems/umbrella.svg" alt="To Stay Dry Suggestion" id="dry-suggestion">
        </div>
        
    <div class="earthquake-button">
        <button id="eq-button" class="eq-button">EQ..?</button>
    </div>
</section>