<section class="right-side-container">
    {{!-- {{#if displayUV}}
    
    {{/if}} --}}
    {{!-- <div class="tabs" id="tabs-container">
        {{tabs}}
    </div> --}}
    <div id="uv-index-container" class="uv-container">
    <span class="uv-label">UV Index:</span>
    <span id="uv-value" class="uv-value">2</span>
    </div>
</section>