<div id="del-wardrobe-item" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="item-list">
      <!-- Wardrobe items will be dynamically added here -->
    </div>
    <button id="remove-from-wardrobe">Remove from Wardrobe</button>
  </div>
</div>
