<body>
    <main class="content">
        {{>leftside}}
        {{>rightside}}
    </main>
    
    <button type="button" id="tutorial-button"><i class="fa-solid fa-question"></i></button>

    {{>signUp}}
    {{>loginModal}}
    {{>tutorialModal}}
    {{>preferences}}
    {{>wardrobe}}
    {{>addToWardrobe}}
</body>