<body>
    <main class="content">
        {{>leftside}}
        {{>rightside}}
    </main>
    

    {{>signUp}}
    {{>loginModal}}
    {{>tutorialModal}}
    {{>preferences}}
    {{>wardrobe}}
    {{>addToWardrobe}}
    {{>wardrobeDel}}
    {{>EQModal}}
</body>