<script id="tab-template" type="text/x-handlebars-template">
    {{#each tabs}}
    <div class="tab-header" data-tab-id="{{id}}">{{title}}</div>
    <div class="tab-content" data-tab-id="{{id}}">{{content}}</div>
    {{/each}}
</script>