
<div id="tutorial-modal" class="tutorial-modal">
    <div class="tut-modal-content">
        <h2>Welcome!</h2>
        <p>Attire Assistant displays the local temperature and offers 
            outfit recommendations based on it, allowing 
            you to plan their attire for the day without 
            needing to search for weather information separately. 
            You can further personalize these recommendations 
            according to their preferences, ensuring tailored
             suggestions suited to your personal needs. Be on the
             lookout for these buttons!</p>
        <div class="buttons" style="display: flex">
            <div class="small-button">
                <img src="/buttons/preferences.svg" alt="Button 1">
            </div>
            <div class="small-button">
                <img src="/buttons/wardrobe.svg" alt="Button 2">
            </div>
        </div>
        <div class="done-button">
            <button id="close-tut-done">Done</button>
        </div>
    </div>
</div>